.divdivItems {
    display: flex;
    flex-direction: row;
}

.Atributes{
    display:flex;
    flex-direction: column;
    align-items:center;

}

.divItems{
    width: 50%;
}

.btnCreate{
    margin-top: 10px;
}

.twoImputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}

.Inputstext {
    width: 50%;
    text-align: center;
}

.editTextCenter {
    text-align:center;
    
}


.createTextArea {
    width: 100%;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
}